<header id="cabecalho">
	<div id="logo-pequeno">
		<%= link_to teclado_index_path do %>
			<h1>INFOINT</h1>
		<% end %>
	</div>
</header>
<div id="container">
	<section class="container-artigos">
		<div id="moldura">
			<article id="1">
					
					<header class="verde">
						<h2>Exercício Teclado</h2>
					</header>
					
					
					<%= form_tag(teclado_verificar_codigo_path, :id => "formulario-captcha", :method => "get") do %>
					
						<fieldset>
							<legend>Captcha</legend>

							<%= recaptcha_tags :public_key => '6Lds6NcSAAAAAK_32-Rt7fmmt1Ta7XYsykiqzv-x', :ajax => true %>
							<%= submit_tag "Confirmar", :class => 'botao botao-azul', :id => "botao-confirmar-captcha" %>
							
						</fieldset>

					
						<fieldset>
							<legend>Estatísticas</legend>
							
							<label><b>Acertos:</b></label>
							<input name="acertos" type="text" value="<%=session[:acertos] %>" readonly="reeadonly" />

							<label><b>Erros:</b></label>
							<input id="campo-erros-exercicio-teclado" name="erros" type="text" value="<%=session[:erros]%>" readonly="reeadonly" />
							
						</fieldset>
						
					<% end %>

					<footer id="rodape-perguntas">
						<ul>
							<li />
							<li>
								<%= link_to "Sair", teclado_index_path, :id => "sair-exercitar-teclado", :class =>"botao botao-azul", :value => " " %>
							</li>
							<li> </li>
						</ul>
					</footer>
				</article>
		</div>
	</section>
</div>
